.header {
    height: 100px;
    background-color: var(--black-color);
}

.header-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo-header {
    margin-right: 179px;
}

.header-nav {
    margin-right: auto;
}

.header-list {
    display: flex;
    justify-content: space-between;
}

.header-item__link {
    font-size: 18px;
    font-weight: 600;
    color: var(--white-color);
}

.header-item:not(:last-child) {
    margin-right: 62px;
}

.header-btn {
    position: relative;
    font-size: 18px;
    color: var(--white-color);
}

.header-btn::before {
    content: url(../img/lk.svg);
    position: absolute;
    left: -21px;
}