.hero {
    color: var(--white-color);
    position: relative;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: bgzoom 5s infinite alternate;
}

.slide1 {
    background-image: url(../img/hero_img.jpg);
}

.slide2 {
    background-image: url(../img/birmingham-museums-trust-MK_98NuC4-4-unsplash1.jpg);
}

.slide3 {
    background-image: url(../img/birmingham-museums-trust-MK_98NuC4-4-unsplash3.jpg);
}

.hero-desc {
    padding-top: 143px;
    padding-bottom: 122px;
    width: 36%;
    font-weight: 700;
}

.hero-desc__title {
    padding-bottom: 20px;
    font-size: 72px;
    letter-spacing: 2px;
    line-height: 82.8px;
}

.hero-desc__text {
    padding-bottom: 92px;
    font-size: 18px;
    line-height: 30px;
}

.hero-desc__btn {
    padding: 26px 38px;
    font-size: 18px;
}

.hero-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 70px;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999999;
}

.hero-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.hero-top-list {
    margin-right: auto;
    display: flex;
    height: 100%;
    align-items: center;
}

.hero-top-item:not(:last-child) {
    margin-right: 93px;
}

.hero-top__link {
    color: var(--white-color);
    font-size: 18px;
}

.hero-top-item::after {
    content: url(../img/arrow_dwn.svg);
    display: inline-block;
    transform: translateY(5px);
}

.hero-top-search__btn {
    padding-right: 33px;
    width: 22px;
    height: 22px;
    background-image: url(../img/search.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateY(7px);
}

.hero-top-search__input {
    padding-right: 29px;
    padding-bottom: 2px;
    color: var(--white-color);
    font-size: 18px;
    border-bottom: 1px solid var(--white-color);

}

.hero-top-search__input::placeholder {
    color: var(--white-color);
}
