.contacts {
  padding-top: 42px;
  border-top: 1px solid #CACACA;
}

.container-contacts {
  margin-bottom: 23px;
  display: flex;
  align-items: flex-start;
}

.contacts-form {
  margin-right: auto;
  padding-top: 9px;
  display: flex;
}

.contacts-address {
  margin-right: 80px;
  display: flex;
  flex-direction: column;
  font-style: normal;
}

.contacts-address__name {
  padding-bottom: 4px;
  font-size: 24px;
  font-weight: 600;
}

.contacts-address__address {
  font-size: 16px;
}

.contacts-form__input {
  margin-right: 19px;
  padding-left: 24px;
  padding-right: 68px;
  border: 1px solid #333333;
  border-radius: 100px;
}

.contacts-form__btn {
  padding: 13px 33px;
  font-size: 18px;
  font-weight: 700;
  color: #9D5CD0;
  border: 2px solid #9D5CD0;
  border-radius: 100px;
  transition: background-color 0.3s, color 0.3s, outline 0.3s;
}

.contacts-form__btn--mobile {
  display: none;
}

.contacts-links {
  display: flex;
  flex-direction: column;
  transform: translateY(-6px);
}

.contacts-links__heading {
  margin-bottom: 7px;
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
}

.contacts-links__link:not(:last-child) {
  margin-right: 16px;
}

.contacts-links__link {
  display: inline-block;
  transition: opacity 0.3s, border 0.3s;
}

.contacts-links__link svg {
  border-radius: 100%;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

.ymaps-2-1-79-map-copyrights-promo {
  display: none;
}

.just-validate-error-label[data-tooltip=true] {
  padding: 0;
  font-size: 12px;
  color: red;
  background-color: transparent;
}

.just-validate-error-label[data-tooltip=true]::before {
  display: none;
}

.map {
  display: flex;
  height: 700px;
}

@media (max-width: 1580px) {

  .container-contacts {
    flex-direction: column;
  }

  .contacts-address {
    margin-bottom: 22px;
  }

  .contacts-form {
    margin-bottom: 34px;
  }

  .contacts-form__btn {
    padding: 13px 39px;
  }

  .map {
    height: 704px;
  }
}

@media (max-width: 768px) {

  .contacts-form {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contacts-form__input {
    margin-right: 0;
    margin-bottom: 14px;
    padding-top: 14px;
    padding-bottom: 15px;
    padding-right: 120px;
  }

  .contacts-form__btn {
    padding: 13px 28px;
  }
}


@media (max-width: 550px) {

  .contacts {
    padding-top: 34px;
    border-top: none;
  }

  .container-contacts {
    margin-bottom: 5px;
  }

  .contacts-address {
    margin-right: 0;
    margin-bottom: 7px;
  }

  .contacts-address__name {
    font-size: 18px;
    line-height: 1;
  }

  .contacts-address__address {
    font-size: 14px;
    line-height: 1;
  }

  .contacts-form {
    margin-bottom: 27px;
    flex-direction: column;
    align-items: flex-start;
  }

  .contacts-form__input {
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 86px;
  }

  .contacts-form__btn {
    display: none;
  }

  .contacts-form__btn--mobile {
    padding: 7px 19px;
    display: flex;
  }

  .contacts-links__heading {
    font-size: 18px;
    font-weight: 400;
  }

  .contacts-links__link:not(:last-child) {
    margin-right: 18px;
  }

  .contacts-links__link svg {
    width: 49px;
    height: 49px;
  }

  .map {
    height: 320px;
  }

}

/* HOVER */

.contacts-form__input:hover {
  background-color: #EAEAEA;
}

.contacts-form__btn:hover {
  background-color: #9D5CD0;
  color: #fff;
}

.contacts-links__link:hover {
  opacity: 0.5;
}

/* FOCUS */

.contacts-form__input:focus {
  background-color: #EAEAEA;
  color: #333;
  outline: none;
}

.contacts-form__btn:focus {
  outline: 2px solid #C283F3;
  outline-offset: 2px;
}

.contacts-links__link:focus {
  opacity: 0.5;
}

.contacts-links__link:focus-visible {
  outline: none;
}

/* ACTIVE */

.contacts-form__btn:active {
  background-color: #7943A4;
}

.contacts-links__link:active svg {
  filter: none;
  border: 1px solid #9643A4;
}
