.developments {
  padding-top: 99px;
  padding-bottom: 1px;
}

.developments__heading {
  margin-bottom: 30px;
}

.swiper-dev {
  padding-left: 50px;
  padding-right: 50px;
  max-width: 1700px;
}

.slide-dev {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 700px;
  border: 1px solid #CACACA;
}

.slide-dev__img {
  height: 300px;
}

.slide-dev-desc {
  padding-top: 15px;
  padding-right: 50px;
  padding-bottom: 48px;
  padding-left: 49px;
  display: flex;
  flex-direction: column;
}

.slide-dev-place {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  line-height: 1;
  font-size: 12px;
  font-weight: 600;
  color: #999;
}

.slide-dev-place__place {
  margin-bottom: 4px;
}

.slide-dev__heading {
  margin-bottom: 7px;
  font-size: 24px;
  font-weight: 600;
}

.slide-dev__link {
  position: absolute;
  left: 49px;
  bottom: 41px;
  display: flex;
  flex-direction: column;
  line-height: 1;
  color: #9D5CD0;
  transition: color 0.3s, background-color 0.3s;
}

.slide-dev__link::after {
  content: '';
  margin-top: 5px;
  width: 100%;
  height: 1px;
  background-color: #9D5CD0;
  transition: background-color 0.3s;
}

.swiper-button-next--dev {
  position: absolute;
  top: 46.5%;
  right: 25px;
  width: 50px;
  height: 50px;
  background-color: #ECECEC;
  border-color: #ECECEC;
}

.swiper-pagination--dev {
  display: none;
}

.swiper-button-next--dev::after {
  color: #333;
}

.swiper-bullet__dev {
  margin: 7px !important;
  width: 10px;
  height: 10px;
  opacity: 1;
  background-color: #CACACA !important;
}

.swiper-bullet__dev--active {
  opacity: 1;
  background-color: #666 !important;
}

@media (max-width: 1580px) {

  .developments {
    padding-top: 13px;
  }

  .swiper-dev {
    padding-right: 0;
    padding-left: 0;
    max-width: 924px;
  }

  .swiper-button-next--dev {
    display: none;
  }

  .swiper-pagination--dev {
    margin-top: 22px;
    display: block;
  }

  .slide-dev {
    height: 685px;
  }

  .slide-dev__img {
    height: 200px;
  }

  .slide-dev-desc {
    padding-top: 18px;
    padding-right: 31px;
    padding-left: 34px;
  }

  .slide-dev-place {
    margin-bottom: 7px;
    align-self: flex-end;
    text-align: end;
  }

  .slide-dev__link {
    left: 33px;
    bottom: 50px;
  }

  @media (max-width: 770px) {

    .developments {
      padding-top: 16px;
    }

    .swiper-dev {
      max-width: 668px;
    }

  }

  @media (max-width: 540px) {

    .developments__heading {
      margin-bottom: 14px;
    }

    .swiper-dev {
      max-width: 290px;
    }

    .slide-dev-desc {
      padding-right: 14px;
      padding-left: 24px;
    }

    .slide-dev-place {
      margin-bottom: 14px;
    }

    .slide-dev__link {
      left: 28px;
      bottom: 51px;
    }

    .swiper-pagination--dev {
      margin-top: 12px;
    }
  }

}
/* FOCUS */

.slide-dev__link:focus-visible {
  outline: none;
}

.slide-dev__link:focus {
  background-color: #9D5CD0;
  color: #fff;
}

.slide-dev__link:focus::after {
  background-color: #fff;
}
/* HOVER */

.slide-dev__link:hover {
  color: #7943A4;
}

.slide-dev__link:hover::after {
  background-color: #7943A4;
}

/* ACTIVE */

.slide-dev__link:active {
  color: #333;
}

.slide-dev__link:active::after {
  background-color: #333;
}

