.developments {
  padding-top: 99px;
}

.developments__heading {
  margin-bottom: 32px;
}

.developments-list {
  display: flex;
  flex-wrap: wrap;
}

.developments-item {
  position: relative;
  margin-bottom: 50px;
  flex-basis: 31.2%;
}

.developments-item-picture {
  line-height: 1;
  font-size: 0;
  display: flex;
}

.developments-item:not(:nth-child(3n)) {
  margin-right: 51px;
}

.developments-item-desc {
  position: relative;
  padding-right: 17px;
  padding-bottom: 19px;
  padding-left: 49px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #CACACA;
  border-left: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
}

.developments-item-desc-small {
  margin-top: 17px;
  margin-bottom: 3px;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  color: #999;
  text-align: end;
}

.developments-item-desc-small__small {
  margin-bottom: 3px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
}

.developments-item-desc__heading {
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.developments-item-desc__text {
  padding-bottom: 82px;
  width: 95%;
}

.developments-item-desc__link {
  position: absolute;
  padding-bottom: 3px;
  left: 50px;
  bottom: 19px;
  line-height: 1;
  color: #9D5CD0;
  border-bottom: 1px solid #9D5CD0;
}
