.footer {
  padding-top: 47px;
  padding-bottom: 40px;
  background-color: #000;
}

.container-footer {
  display: flex;
}

.footer-logo {
  padding-top: 3px;
  margin-right: auto;
}

.footer-soc {
  display: flex;
}

.footer-soc-link {
  width: 45px;
  height: 45px;
}

.footer-soc-link:not(:last-child) {
  margin-right: 20px;
}

.footer-soc-link svg {
  width: 100%;
  height: 100%;
}

.footer-soc-link svg path {
  transition: fill 0.3s;
}

@media (max-width: 1580px) {

  .footer {
    padding-bottom: 34px;
  }

  .footer-soc {
    transform: translateY(-7px);
  }

  .footer-soc-link {
    width: 60px;
    height: 60px;
  }

  .footer-soc-link:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 550px) {

  .footer {
    padding-top: 22px;
    padding-bottom: 9px;
  }

  .container-footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-logo {
    padding-top: 8px;
    margin-right: 0;
    order: 2;
    width: 97px;
  }

  .footer-soc {
    order: 1;
  }

  .footer-soc-link {
    width: 50px;
  }
}


/* HOVER */

.footer-soc-link:hover svg path {
  fill: #fff;
}

/* FOCUS */

.footer-soc-link:focus svg path {
  fill: #fff;
}

.footer-soc-link:focus-visible {
  outline: none;
}

.footer-logo:focus-visible {
  outline: none;
}

/* ACTIVE */

.footer-soc-link:active svg path {
  fill: #9D5CD0;
}
