.gallery {
  padding-top: 96px;
  padding-bottom: 80px;
  background-image: url(../img/background_gallery.jpg);
  color: #fff;
}

.container-gallery {
  display: flex;
}

.gallery-desc {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  flex: 0 0 25%;
}

.gallery-desc-select {
  padding-top: 33px;
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
}

.gallery-desc-select__heading {
  margin-bottom: 10px;
}

.gallery-desc__text {
  width: 90%;
  transform: translateY(10px);
  font-weight: 600;
}

.gallery-desc__text--768 {
  display: none;
}

.gallery-desc__link {
  position: relative;
  display: inline-block;
  color: #9D5CD0;
  transition: color 0.3s, border-bottom 0.3s;
}

.gallery-desc__link::before {
  content: "";
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #9D5CD0;
}
/* Селект */

.choices__inner {
  padding: 0;
  min-height: unset;
  font-size: 16px;
  line-height: 1;
  border-radius: 6px;
  background-color: inherit;
  transition: background-color 0.3s;
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 0;
}

.choices__list--single {
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 15px;
}

.choices[data-type*=select-one]:after {
  content: '';
  padding: 3px;
  margin-top: -5px;
  display: inline-block;
  right: 16.5px;
  top: 54%;
  border: solid #fff;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}

.choices[data-type*=select-one].is-open:after {
  margin-top: -3px;
  border: solid #fff;
  border-width: 0 1px 1px 0;
  transform: rotate(-135deg);
}

.choices__list--dropdown {
  background-color: inherit;
  border: 1px solid #999;
}

.choices__list--dropdown .choices__item {
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 20px;
  font-size: 16px;
  color: #999999;
  line-height: 1;
}

.choices__list--dropdown .is-selected{
  display: none;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: inherit;
}

.is-focused .choices__inner,
.is-open .choices__inner {
  border-radius: 6px 6px 6px 6px;
  border-color: #fff;
}

.is-open .choices__list--dropdown {
  border-color: #999;
  border-radius: 6px 6px 6px 6px;
}

.choices__list--dropdown .choices__item {
  transition: background-color 0.3s, color 0.3s;
}

.choices__list--dropdown .choices__item:not(:last-child) {
  border-bottom: 1px solid #999;
}

.gallery-check {
  display: flex;
  flex-direction: column;
}

.gallery-category-check-label {
  padding-left: 24px;
}

.gallery-category-check-label__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.gallery-category-check-label__span {
  position: absolute;
  margin-top: 10px;
  margin-left: -24px;
  width: 12px;
  height: 12px;
  overflow: hidden;
  border: 1px solid #fff;
  background-color: inherit;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.gallery-category-check-label__input:checked + .gallery-category-check-label__span {
  border-color: #C283F3;
  background-image: url(../img/checkbox.svg);
}

.gallery-category-check-label__input:checked ~ .gallery-category-check-label__text {
  color: #C283F3;
  transition: color 0.3s;
}

.gallery-category-check-label__input:focus + .gallery-category-check-label__span {
  border-color: #C283F3;
  transition: border-color 0.3s;
}

.gallery-category-check-label__input:focus ~ .gallery-category-check-label__text {
  color: #C283F3;
  transition: color 0.3s;
}

.gallery-category-check-label__input:hover + .gallery-category-check-label__span {
  border-color: #C283F3;
  transition: border-color 0.3s;
  cursor: pointer;
}

.gallery-category-check-label__input:hover ~ .gallery-category-check-label__text {
  color: #C283F3;
  transition: color 0.3s;
  cursor: pointer;
}


/* Свайпер */

.swiper-container-tablet {
  display: none;
}

.swiper-container-768 {
  display: none;
}

.swiper-container-mobile {
  display: none;
}

.gallery-desc__text--mobile {
  display: none;
}

.swiper-navigation {
  padding-top: 9px;
  display: flex;
  margin-bottom: 28px;
}

.swiper-pagination {
  position: static;
  width: unset;
  font-size: 16px;
}

.swiper-button-next,
.swiper-button-prev {
  position: static;
  width: 30px;
  height: 30px;
  margin-top: 0;
  color: #fff;
  border: 2px solid #666;
  border-radius: 100%;
  background-color: #666;
  transition: background-color 0.3s, border 0.3s;
}

.swiper-button-prev {
  margin-right: 21px;
}

.swiper-button-next {
  margin-left: 21px;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 12px;
}

.swiper-slide-img {
  height: 350px;
}

.slide-desktop {
  display: flex;
  justify-content: space-between;
  flex-wrap: no-wrap;
}

.swiper-slide-img {
  position: relative;
  cursor: pointer;
  display: flex;
}

.swiper-slide-img::before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 25px;
  right: 25px;
  bottom: 25px;
  left: 25px;
  background-image: url("../img/zoom.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s;
}

.swiper-slide-img::after {
  display: none;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(A5A9A825-44DE-45C8-8EBD-70ED43DAA3B7.jpg);
  border: 2px solid #D1A9F0;
}


@media(max-width: 1580px) {
  .gallery {
    padding-bottom: 81px;
  }

  .gallery-desc {
    flex: 0 0 30.3%;
  }

  .gallery-desc-select {
    padding-top: 0;
    margin-bottom: 108px;
  }

  .gallery-desc__heading {
    margin-bottom: 31px;
  }

  .choices[data-type*=select-one]:after {
    right: 16px;
    top: 55%;
  }

  .gallery-desc__text {
    width: 97%;
    transform: translateY(-6px);
  }

  .swiper-container-desktop {
    display: none;
  }

  .swiper-container-tablet {
    display: block;
  }

  .swiper-navigation {
    margin-bottom: 27px;
  }

  .swiper-button-prev {
    margin-right: 18px;
  }

  .slide-tablet {
    display: flex;
    justify-content: space-between;
  }

  .swiper-slide-img {
    height: 315px;
    width: 315px;
  }
}

@media (max-width: 768px) {
  .gallery {
    padding-bottom: 71px;
  }

  .container-gallery {
    display: block;
  }

  .gallery-desc {
    align-self: flex-start;
    width: 42%;
  }

  .gallery-desc__heading {
    margin-bottom: 33px;
  }

  .gallery-desc-select {
    margin-bottom: 40px;
  }

  .gallery-desc__text {
    display: none;
  }

  .gallery-desc__text--768 {
    display: inline;
  }

  .swiper-slide-img {
    height: 330px;
  }

  .swiper-navigation--768 {
    padding-top: 41px;
    margin-bottom: 27px;
  }

  .swiper-container-tablet {
    display: none;
  }

  .swiper-container-768 {
    display: block;
  }

  .slide-768 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 339px;
  }

}


@media(max-width: 540px) {
  .gallery {
    padding-top: 54px;
    padding-bottom: 30px;
  }

  .gallery-desc {
    width: 100%;
  }

  .gallery-desc__heading {
    margin-bottom: 14px;
  }

  .gallery-desc-select__heading {
    margin-bottom: 5px;
  }

  .gallery-desc__text--768 {
    display: none;
  }

  .gallery-desc__text--mobile {
    display: inline;
  }

  .gallery-desc-select {
    margin-bottom: 30px;
  }

  .gallery-check {
    margin-bottom: 30px;
  }

  .swiper-container-768 {
    display: none;
  }

  .swiper-container-mobile {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .swiper-navigation {
    margin-bottom: 17px;
    order: 2;
  }

  .swiper-wrapper-mobile{
    order: 1;
  }

  .slide-mobile {
    display: flex;
    justify-content: center;
  }

  .swiper-slide-img {
    justify-self: center;
    margin-bottom: 12px;
    width: 290px;
    height: 367px;
  }

  .swiper-slide-img:nth-child(1),
  .swiper-slide-img:nth-child(2) {
    margin-bottom: 12px;
  }
}


/* HOVER */

.choices__inner:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.choices__list--dropdown .choices__item:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}

.gallery-desc__link:hover::before {
  display: inline-block;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #9D5CD0;
  border: 2px solid #9D5CD0;
}

.swiper-slide-img:hover::before {
  opacity: 1;
  z-index: 2;
}


/* FOCUS */

.choices__inner:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.gallery-desc__link:focus {
  background-color: #9D5CD0;
  color: #fff;
  outline: none;
}

.swiper-button-next:focus,
.swiper-button-prev:focus {
  border: 2px solid #000;
}

.swiper-slide-img:focus {
  outline: 3px solid #7943A4;
}

.swiper-slide-img:focus-visible {
  outline: 3px solid #7943A4;
}

/* ACTIVE */

.gallery-desc__link:active {
  color: #7943A4;
  border-bottom: 1px solid #7943A4;
}

.swiper-button-next:active,
.swiper-button-prev:active {
  background-color: #7943A4;
  border: 2px solid #000;
}

.swiper-slide-img:active::after {
  display: block;
}

