.gallery {
  background-image: url(../img/background_gallery.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.gallery__container {
	padding-top: 89px;
	padding-right: 15px;
	padding-bottom: 80px;
  display: flex;
  color: var(--white-color);
  width: 100%;
}

.gallery-left {
	margin-right: 48px;
  width: 28%;
  display: flex;
  flex-direction: column;
}

.gallery-left__title {
	padding-bottom: 24px;
}

.gallery-filter {
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
}

.gallery-filter__text {
	padding-bottom: 10px;
  }

.choices {
	overflow: visible;
	padding: 0;
	max-height: 40px;
}

.choices__inner {
	box-sizing: border-box;
	max-height: 40px;
	min-height: 40px;
	padding: 2px 0 0 13px;
	width: 100%;
	font-size: 16px;
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 6px;
}

.is-open .choices__inner {
	border-radius: 6px;
}

.choices__list--single {
	padding: 0;
}

.choices[data-type*=select-one] .choices__inner {
	padding-bottom: 0;
}

.choices__list--dropdown {
	background-color: transparent;
	border-radius: 6px;
}

.choices__list--dropdown .choices__item {
	padding: 2px 0 14px 20px;
	max-height: 40px;
	min-height: 40px;
	word-break: keep-all;
}

.choices__placeholder {
	opacity: 1;
}

.choices__list--dropdown .choices__item:not(:last-child) {
	border-bottom: 1px solid #999;
}

.gallery-filter .choices[data-type*=select-one]:after {
	right: 17px;
}

.is-open .choices__list--dropdown  {
	color: #999;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	border-top: none;
}

.is-focused .choices__inner,
.is-open .choices__inner {
	border-color: #fff;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
	background-color: transparent;
}

.is-selected {
	display: none;
}

.gallery__promo {
	width: 80%;
	transform: translateY(10px);
}

.gallery__promo--link {
	color: #c283f3;
}

.gallery-right {
	width: 80%;
	height: 100%;
}

.gallery__slide { 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gslide-img-wrapper {
	position: relative;
	max-height: 350px;
}

.gslide-img-wrapper:nth-child(1) {
	margin-bottom: 50px;
}

.gslide-img-wrapper::before {
	content: '';
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(A5A9A825-44DE-45C8-8EBD-70ED43DAA3B7.jpg);
}

.gslide-img-wrapper::after {
	content: url('../img/zoom.svg');
	padding: 110px 110px;
	display: none;
	position: absolute;
	width: 79px;
	height: 85px;
	top: 25px;
	left: 25px;
	background-color: rgba(0, 0, 0, 0.5);
	transition: display 0.3s;
}

.swiper__navigation-buttons {
	margin-top: 16px;
	margin-left: 3px;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 130px;
	height: 30px;
	overflow: hidden;
}

.gallery__button {
	margin-top: 0;
	width: 30px;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: relative;
	border-radius: 50%;
	border: 2px solid #666;
	background: #666;
	transition: background-color 0.3s, border-color 0.3s;
}

.gallery__button::after {
	font-size: 10px;
	color: var(--white-color);
}

.swiper__navigation-buttons .swiper-pagination {
	position: relative;
	width: unset;
	bottom: 0;
}

.gallery__button:focus {
	border-color: #7943a4;
}

.gallery__promo--link:focus,
.gallery__slide img:focus {
	outline:  2px solid #7943a4;
}

.gslide-img-wrapper:focus {
	outline: 3px solid #7943a4;;
}

.gallery__button:hover {
	background-color: #9d5cd0;
	border-color: #9d5cd0;
	transition: background-color 0.3s, border-color 0.3s;
}

.gallery__promo--link:hover {
	text-decoration-line: underline;
}

.gslide-img-wrapper:hover::after {
	display: inline-block;
	transition: display 0.3s;
}

.gallery__button:active {
	background-color: #7943a4;
	border: 2px solid #d1a9f0;
}

.gallery__promo--link:active {
	color: #7943a4;
}

.gslide-img-wrapper:active::before {
	display: inline-block;
	border: 2px solid #d1a9f0;
}
