@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
			 url('../fonts/opensans-regular-webfont.woff') format('woff');
	font-weight: 400;
  font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
			 url('../fonts/opensans-bold-webfont.woff') format('woff');
	font-weight: 700;
  font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
			 url('../fonts/opensans-semibold-webfont.woff') format('woff');
	font-weight: 600;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'OpenSans', sans-serif;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #333;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul, li {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

button {
  padding: 0;
  margin: 0;
  background-color: initial;
  border: none;
  cursor: pointer;
}

input {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  background-color: inherit;
}

h1,h2,h3,h4 {
  margin: 0;
  padding: 0;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.main-heading {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.container {
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
  max-width: 1700px;
}

.section-heading {
  padding: 0;
  margin: 0;
  font-size: 48px;
  font-weight: 400;
}

.text {
  padding: 0;
  margin: 0;
}

.js-focus-visible:focus:not(.focus-visible) {
 background-color: inherit;
 color: #9D5CD0;
}

.js-focus-visible:focus:not(.focus-visible) .header-menu-item-link__img {
  transform: rotateX(180deg) translateY(-3px);
}

.js-focus-visible:focus:not(.focus-visible) .header-menu-item-link__img path {
  stroke: #9D5CD0;
}

@media (max-width: 540px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .section-heading {
    font-size: 28px;
  }
}

.simplebar-content-wrapper {
  overflow: auto;
}
