.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header-top {
  background-color: #000;
}

.header-top-container {
  padding-top: 30px;
  padding-bottom: 20px;
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
}

.header-logo {
  margin-right: 8%;
  width: 221px;
  flex-shrink: 0;
}

.header-burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 36px;
  height: 28px;
  cursor: pointer;
}

.header-burger__line {
  height: 3px;
  width: 36px;
  background-color: #fff;
  transition: background-color 0.3s;
}

.header-burger__line__2 {
  width: 28px;
}

.header-burger__line__3 {
  width: 24px;
}

.header-search-nav-close__btn__tablet {
  display: none;
}

.header-nav {
  display: flex;
  width: 100%;
}

.header-nav-list {
  margin-right: auto;
  display: flex;
}

.header-nav-item {
  transform: translateY(-4px);
}

.header-nav-item:not(:last-child) {
  margin-right: 54px;
}

.header-nav-item-link {
  padding: 4px;
  display: inline-block;
  font-size: 18px;
  line-height: 1;
  font-weight: 600;
  color: #fff;
  transition: color 0.3s;
}


.header-btn-lk {
  padding-bottom: 11px;
  line-height: 1;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s;
}

.header-btn-lk__img{
  margin-right: 4px;
}

.header-top-search {
  display: none;
  cursor: pointer;
}

.header-top-search__text {
  display: none;
}

.header-top-search-btn__img rect,
.header-top-search-btn__img path {
  transition: fill 0.3s;
}

.header-menu {
  padding-top: 20px;
  padding-bottom: 18px;
  background-color: rgba(0, 0, 0, 0.4);
}

.header-menu-container {
  display: flex;
}

.header-menu-list {
  display: flex;
  margin-right: auto;
}

.header-menu-item {
  position: relative;
}

.header-menu-item:not(:last-child) {
  margin-right: 96px;
}

.header-menu-item-link {
  padding: 4px 0;
  font-size: 18px;
  color: #fff;
  transition: color 0.3s;
}

.header-search__text {
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  width: 218px;
  color: #C283F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 0.85);
  transition: border-bottom-color 0.3s;
}

.header-search__text::placeholder {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
}

.header-search-btn {
  transform: translate(-6px, 7px);
}

.header-search-open {
  padding: 0 50px;
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #000;
  z-index: 1;
}

.header-serch-open-btn {
  margin-right: 10px;
}

.header-search-open__text {
  margin-right: 10px;
  flex: 0 0 87%;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.header-search-open-close {
  position: relative;
  width: 32px;
  height: 32px;
  transform: translateY(-21px);
  }

  .header-search-open-close:before,
  .header-search-open-close:after {
  position: absolute;
  content: ' ';
  height: 37px;
  width: 4px;
  background-color: #fff;
  }

  .header-search-open-close:before {
  transform: rotate(45deg);
  }

  .header-search-open-close:after {
  transform: rotate(-45deg);
  }


/* DROP-DOWN MENU */

.header-dropdown {
  padding: 39px;
  display: none;
  position: absolute;
  top: 51px;
  width: 300px;
  height: 300px;
  background: rgba(0, 0, 0, 0.4);
}

.header-dropdown-list {
  display: flex;
  flex-direction: column;
}

.header-dropdown-item {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.header-dropdown-item__link {
  display: inline-block;
  margin-right: 19px;
  padding-top: 4px;
  padding-bottom: 4.5px;
  padding-left: 14px;
  width: 220px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  outline: none;
  transition: outline 0.3s;
}

.header-dropdown-item_1 {
  background-image: url(../img/option1.png);
}

.header-dropdown-item_2 {
  background-image: url(../img/option2.png);
}

.header-dropdown-item_3 {
  background-image: url(../img/option3.png);
}

.header-dropdown-item_4 {
  background-image: url(../img/option4.png);
}

.header-dropdown-item:not(:last-child) {
  margin-bottom: 20px;
}

/* SCROLL */

.simplebar-scrollbar::before {
  left: 0;
  right: 0;
  opacity: 1;
  background-color: #fff;
  border-radius: 0;
}

.simplebar-track.simplebar-vertical {
  margin-right: 19px;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 2px;
  background: #000;
}



/* Transition */



.header-btn-lk svg path,
.header-burger-btn-lk svg path {
  transition: fill 0.3s;
}

.header-menu-item-link svg {
  transition: transform 0.3s;
}

.header-menu-item-link svg path {
  transition: stroke 0.3s;
}

.header-search .header-search-btn__img rect,
.header-search .header-search-btn__img path {
  transition: fill 0.3s;
}

.header-serch-open-btn rect,
.header-serch-open-btn path {
  transition: fill 0.3s;
}

.header-search-open-close::before,
.header-search-open-close::after {
  transition: background-color 0.3s;
}

/* FOCUS */

.header-menu-item-link:focus,
.header-logo:focus,
.header-nav-item-link:focus,
.header-btn-lk:focus,
.header-menu-item:focus,
.header-search:focus,
.header-burger:focus,
.header-burger-nav-item__link:focus {
  background-color: #7943A4;
  outline: none;
}

.header-search-btn:focus {
  outline: none;
}

.header-search__text:focus {
  border-bottom-color: #7943A4;
  outline: none;
}

.header-dropdown-item__link:focus {
  outline: 2px solid #9D5CD0;
}

/* HOVER */

.header-nav-item-link:hover,
.header-menu-item-link:hover,
.header-btn-lk:hover,
.header-burger-nav-item__link:hover {
  color: #C283F3;
}

.header-burger:hover .header-burger__line,
.header-search-open-close:hover::before,
.header-search-open-close:hover::after {
  background-color: #C283F3;
  opacity: 1;
}

.header-btn-lk:hover svg path {
  fill: #C283F3;
}

.header-top-search-btn__img:hover rect,
.header-top-search-btn__img:hover path,
.header-serch-open-btn:hover rect,
.header-serch-open-btn:hover path {
  fill: #C283F3;
}

.header-menu-item-link:hover svg path {
  stroke: #C283F3;
}

.header-search:hover .header-search__text{
 border-bottom-color: #C283F3;
}

.header-search:hover .header-search-btn__img rect,
.header-search:hover .header-search-btn__img path {
  fill: #C283F3;
}

.header-dropdown-item:hover {
  outline: 2px solid #9D5CD0;
}

.header-burger-btn-lk:hover {
  background-color: #9D5CD0;
}

/* ACTIVE */

.header-nav-item-link:active,
.header-menu-item-link:active,
.header-btn-lk:active,
.header-burger-nav-item__link:active {
  color: #9D5CD0;
}

.header-btn-lk:active svg path {
  fill: #9D5CD0;
}

.header-menu-item:active .header-menu-item-link__img path {
  stroke: #9D5CD0;
}

.header-menu-item:active .header-menu-item-link__img {
  transform: rotateX(180deg);
}

.header-dropdown-item:active {
  outline: 2px solid #D1A9F0;
}

.header-dropdown-item:active::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
}

.header-burger-btn-lk:active {
  background-color: #7943A4;
  border: 3px solid #D1A9F0;
}

/* MEDIA */

@media(max-width: 1404px) {
  .header-logo {
    margin-right: 4%;
  }

  .header-nav-item:not(:last-child) {
    margin-right: 24px;
  }

  .header-menu-item:not(:last-child) {
    margin-right: 50px;
  }

  .header-search__text {
    width: 150px;
  }
}

@media(max-width: 1187px) {

  .header-top-container {
    padding-bottom: 17px;
  }

  .header-menu {
    display: none;
  }

  .header-nav {
    display: none;
  }

  .header-btn-lk {
    display: none;
  }

  .header-burger {
    display: flex;
    position: relative;
    margin-right: 36%;
    transform: translateY(-5px);
  }

  .header-nav__tablet {
    display: none;
    padding-top: 37px;
    padding-bottom: 50px;
    padding-left: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 2;
  }

  .header-search-nav-close__btn__tablet {
    display: flex;
    margin-bottom: 50px;
    transform: translate(12px, -2px);
  }

  .header-nav-list__tablet {
    flex-direction: column;
  }

  .header-nav-item__tablet:not(:last-child) {
    margin-bottom: 40px;
  }

  .header-nav-item__tablet:last-child {
    margin-bottom: 113px;
  }

  .header-nav-item-link__tablet {
    display: block;
    font-size: 24px;
    transition: color 0.3s;
  }

  .header-btn-lk__tablet {
    display: block;
    padding-top: 19px;
    padding-right: 88px;
    padding-bottom: 19px;
    padding-left: 88px;
    font-size: 18px;
    color: #fff;
    border: 2px solid #9D5CD0;
    border-radius: 100px;
    transition: background-color 0.2s, border 0.2s;
  }

  .header-logo {
    margin-right: auto;
  }

  .header-logo__img {
    width: 187px;
  }

  .header-top-search {
    display: block;
    transform: translateY(-3px);
  }

  .header-top-search-btn {
    transform: translate(0, 0);
  }
}

@media(max-width: 768px) {
  .header-top-container {
    justify-content: space-between;
  }

  .header-burger {
    margin-right: 36px;
  }

  .header-logo {
    margin-right: 0;
    transform: translateX(-4px);
  }

  .header-top-search {
    transform: translateY(0);
  }
}

@media(max-width: 540px) {
  .header-top-container {
    padding-top: 12px;
    padding-bottom: 0;
  }

  .header-nav__tablet {
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
  }

  .header-search-nav-close__btn__tablet {
    margin-bottom: 10px;
  }

  .header-nav-item__tablet:not(:last-child) {
    margin-bottom: 10px;
  }

  .header-nav-item__tablet:last-child {
    margin-bottom: 12px;
  }

  .header-nav-item-link__tablet {
    font-size: 16px;
  }

  .header-btn-lk__tablet {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    font-size: 12px;
  }

  .header-btn-lk__tablet svg {
    width: 9px;
    height: 9px;
  }

  .header-burger {
    margin-right: 0;
    width: 20px;
    height: 15px;
  }

  .header-burger__line {
    height: 2px;
  }

  .header-burger__line__1 {
    width: 20px;
  }

  .header-burger__line__2 {
    width: 15.5px;
  }

  .header-burger__line__3 {
    width: 13.3px;
  }

  .header-logo {
    width: 97px;
    transform: translateX(-2px);
  }

  .header-logo__img {
    width: 100%;
  }

  .header-top-search {
    transform: translateY(-2px);
  }

  .header-top-search-btn__img {
    height: 16px;
    width: 16px;
  }

  .header-search-open {
    padding-left: 57px;
    padding-right: 15px;
    padding-bottom: 20px;
    height: 75px;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(40px);
  }

  .header-search-open-btn {
    margin-right: 10px;
    align-self: flex-end;
  }

  .header-search-open-btn__img {
    height: 16px;
    width: 16px;
  }

  .header-search-open__text {
    margin-right: 34px;
    flex: 0 0 76%;
    align-self: flex-end;
    background-color: initial;
  }

  .header-search-open-close__btn {
    align-self: start;
    height: 15px;
    width: 15px;
    transform: translateY(0);
  }

  .header-search-open-close:before,
  .header-search-open-close:after {
  position: absolute;
  content: ' ';
  height: 19px;
  width: 2px;
  background-color: #fff;
  }
}


.arrow {
  stroke: #9D5CD0;
  transform: rotateX(180deg);
}


.is-open_flex {
  display: flex;
}

.is-open_block {
  display: block;
}

