.header-top {
  background-color: var(--black-color);
}

.header-container {
  display: flex;
  align-items: center;
  height: 100px;
}

.logo-header {
  margin-right: 179px;
}

.header-top-nav {
  margin-right: auto;
}

.header-top-list {
  display: flex;
  justify-content: space-between;
}

.header-top-item__link {
  padding: 2;
  font-size: 18px;
  font-weight: 600;
  color: var(--white-color);
  transition: color 0.3s;
}

.header-top-item:not(:last-child) {
  margin-right: 62px;
}

.header-btn {
  font-size: 18px;
  color: var(--white-color);
}

.header-bot {
  height: 70px;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
  position: relative;
}

.header-bot-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-bot-list {
  margin-right: auto;
  display: flex;
  height: 100%;
  width: 65.2%;
  align-items: center;
}

.header-bot-item:not(:last-child) {
  margin-right: auto;
}

.header-bot-item .choices__inner  {
  padding: 0;
  padding-right: 23px;
  min-height: 0;
  border: none;
  font-size: 18px;
  color: var(--white-color);
  transition: color 0.3s;
}

.header-bot-item .choices__placeholder {
  opacity: 1;
}

.header-bot-item .is-open .choices__inner {
  color: #7943A4;
}

.header-bot-list .choices__list--dropdown {
  width: auto;
  padding: 40px;
  background: rgba(0, 0, 0, 0.4);
}

.header-bot-list .is-open .choices__list--dropdown {
  border-left: none;
  border-bottom: none;
  border-right: none;
  color: var(--white-color);
}

.header-bot-list .choices__list--dropdown .choices__list {
  overflow: visible;
}

.header-bot-list .choices__list--dropdown .choices__item {
	padding: 9px 124px 12px 14px;
  max-height: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-bot-list .choices__list--dropdown .choices__item:not(:last-child) {
  margin-bottom: 20px;
  border-bottom: none;
}

.header-bot-list .choices__list--dropdown .choices__item:nth-child(1) {
  display: none;
}

.header-bot-list .choices__list--dropdown .choices__item:nth-child(2) {
  background-image: url(../img/option1.png);
}

.header-bot-list .choices__list--dropdown .choices__item:nth-child(3) {
  background-image: url(../img/option2.png);
}

.header-bot-list .choices__list--dropdown .choices__item:nth-child(4) {
  background-image: url(../img/option3.png);
}

.header-bot-list .choices__list--dropdown .choices__item:nth-child(5) {
  background-image: url(../img/option4.png);
}

.header-bot-search__btn svg rect,
.header-bot-search__btn svg path {
  transition: fill 0.3s;
}

.header-bot-search__btn svg {
  transform: translateY(6px) translateX(-5px);
}

.header-bot-search__input {
  padding-right: 29px;
  color: var(--white-color);
  font-size: 18px;
  border-bottom: 1px solid var(--white-color);
  transition: border-color 0.3s;
}

.header-bot-search__input::placeholder {
  color: var(--white-color);
}

.header-bot-search__bth--fill {
  fill: #c283f3;
}

.header-bot-item .choices[data-type*=select-one]:after {
  transition: border-color 0.3s;
}

.header-bot-item .choices[data-type*=select-one].is-open:after {
  border-color: #7943a4;
} 

.is-selected {
  display: none;
}

.header-btn:focus,
.header-top-item__link:focus,
.header-bot-search__btn:focus,
.header-bot-item:focus {
  outline: 2px solid #7943a4;
}

.header-btn:hover,
.header-btn:hover svg path,
.header-top-item__link:hover  {
  color: #c283f3;
  fill: #c283f3;
  transition: color 0.3s, fill 0.1s;
}

.header-bot-search__input:hover {
  border-color: #c283f3;
  transition: border-color 0.3s;
}

.header-bot-search__btn:hover svg rect,
.header-bot-search__btn:hover svg path {
  fill: #c283f3;
  transition: fill 0.3s;
}

.header-bot-item:hover .choices__inner {
  color: #9d5cd0;
  transition: color 0.3s;
}

.header-bot-item .choices[data-type*=select-one]:hover:after {
  border-color: #9d5cd0;
  transition: border-color 0.3s;
}


.header-bot-item .choices__list--dropdown .choices__item:hover {
  outline: 2px solid #9d5cd0;
}

.header-top-item__link:active {
  color: #7943a4;
} 

.header-btn:active,
.header-btn:active svg path {
  color: #9d5cd0;
  fill: #9d5cd0;
}

.header-bot-search__input:focus {
  outline: none;
  border-color: #c283f3;
}

.header-bot-item .choices__list--dropdown .choices__item:active {
  outline: 2px solid #d1a9f0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(.jpg);
}

