.header__top {
  background-color: var(--black-color);
}

.header__container {
  display: flex;
  align-items: center;
  height: 100px;
}

.header__logo {
  margin-right: 179px;
}

.header-nav {
  margin-right: auto;
}

.header-nav__item:not(:last-child) {
  margin-right: 62px;
}

.header-nav__list {
  display: flex;
  justify-content: space-between;
}

.header-nav__link {
  padding: 2;
  font-size: 18px;
  font-weight: 600;
  color: var(--white-color);
  transition: color 0.3s;
}

.header__enter {
  font-size: 18px;
  color: var(--white-color);
}

.header-bot {
  height: 70px;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
  position: relative;
}

.header-bot__container {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-bot__list {
  margin-right: auto;
  display: flex;
  height: 100%;
  width: 65.2%;
  align-items: center;
}

.header-bot__item {
	font-size: 18px;
	color: var(--white-color);
	position: relative;
}

.header-dropdown {
	display: none;
	padding: 40px;
	position: absolute;
	top: 40px;
	left: 0;
	background: rgba(0, 0, 0, 0.4);
}

.header-dropdown__title {
	display: inline-block;
	position: relative;
	cursor: pointer;
	transition: color 0.3s;
}

.header-dropdown__title::after {
	content: '';
	position: absolute;
	top: 39%;
	right: -11px;
	width: 7px;
	height: 7px;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	transform: rotate(135deg);
	transition: border-color 0.3s, transform 0.3s;
}

.header-dropdown__item {
	padding: 9px 124px 12px 14px;
	margin-bottom: 20px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
	transition: outline 0.3s;
}

.header-dropdown__item:nth-child(1) {
	background-image: url('../img/option1.png');
}

.header-dropdown__item:nth-child(2) {
	background-image: url('../img/option2.png');
}

.header-dropdown__item:nth-child(3) {
	background-image: url('../img/option3.png');
}

.header-dropdown__item:nth-child(4) {
	background-image: url('../img/option4.png');
}

.header-bot__item:not(:last-child) {
  margin-right: auto;
}


.header-search__btn svg rect,
.header-search__btn svg path {
  transition: fill 0.3s;
}

.header-search__btn svg {
  transform: translateY(6px) translateX(-5px);
}

.header-search__input {
  padding-right: 29px;
  color: var(--white-color);
  font-size: 18px;
  border-bottom: 1px solid var(--white-color);
  transition: border-color 0.3s;
}

.header-search__input::placeholder {
  color: var(--white-color);
}

.header-search__bth--fill {
  fill: #c283f3;
}

.header__enter:focus,
.header-nav__link:focus,
.header-search:focus,
.header-bot__item:focus {
  outline: 2px solid #7943a4;
}

.header__enter:hover,
.header__enter:hover svg path,
.header-nav__link:hover  {
  color: #c283f3;
  fill: #c283f3;
  transition: color 0.3s, fill 0.1s;
}

.header-dropdown__title:hover {
	color: #9d5cd0;
	transition: color 0.3s;
}

.header-dropdown__title:hover::after {
	border-color: #9d5cd0;
	transition: border-color 0.3s;
}

.header-dropdown__item:hover {
	outline: 2px solid #9d5cd0;
	transition: outline 0.3s;
}

.header-search:hover .header-search__input {
  border-color: #c283f3;
  transition: border-color 0.3s;
}

.header-search:hover .header-search__btn svg rect,
.header-search:hover .header-search__btn svg path {
  fill: #c283f3;
  transition: fill 0.3s;
}

.header-dropdown__item:active {
	background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(.jpg);
	outline: 2px solid #d1a9f0;;
}

.header-nav__link:active {
  color: #7943a4;
} 

.header__enter:active,
.header__enter:active svg path {
  color: #9d5cd0;
  fill: #9d5cd0;
}

.header-search:focus .header-search__btn {
  outline: none;
  border-color: #c283f3;
}

.show--list {
	display: inline-block;
}

.show--title {
	color: #7943a4;
}

.after:after {
	color: #7943a4;
	transform: rotate(-45deg);
	border-color: #7943a4;
	top: 50%;
} 