.project {
  padding-top: 97px;
  padding-bottom: 80px;
}

.project-heading {
  margin-bottom: 32px;
}

.project-desc {
  margin-bottom: 14px;
  width: 65%;
}

.tooltip {
  padding-top: 3px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #9D5CD0;
  border-radius: 50%;
  font-size: 10px;
  line-height: 1;
  font-weight: 700;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.tippy-box[data-theme~='blue'] {
  padding-top: 7px;
  padding-right: 11px;
  padding-bottom: 7px;
  padding-left: 11px;
  text-align: center;
  border-radius: 0;
  background: #9D5CD0;
  border: 1px solid #9D5CD0;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
}

.tippy-box[data-theme~='blue'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #9D5CD0;
}
.tippy-box[data-theme~='blue'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: #9D5CD0;
}
.tippy-box[data-theme~='blue'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: #9D5CD0;
}
.tippy-box[data-theme~='blue'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: #9D5CD0;
}

.project-desc__link {
  position: relative;
  padding: 3px;
  display: inline-block;
  color: #9D5CD0;
}

.project-desc__link::after {
  content: '';
  position: absolute;
  opacity: 0;
  left: 3px;
  right: 3px;
  bottom: 5px;
  height: 1px;
  background-color: #9D5CD0;
  transition: opacity 0.3s;
}

.project-swiper__heading {
  margin-bottom: 23px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.project-swiper-continer {
  display: flex;
  align-items: center;
}

.project-swiper {
  padding: 0 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-slide {
  display: flex;
  height: 150px;
  justify-content: center;
  border: 1px solid #CACACA;
  cursor: pointer;
}

.project-swiper-button {
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
  background-color: #ECECEC;
  border-color: #ECECEC;
}

.project-button-prev::after {
  content: url(../img/left-arr.svg);
}

.project-button-next::after {
  content: url(../img/right-arr.svg);
}

.project-button-next {
  margin-left: 45px;
  order: 3;
  right: 0;
}

.project-button-prev {
  margin-right: 45px;
  left: 0;
}

.project-slide__img {
  object-fit: none;
  filter: grayscale(100%);
  transition: filter 0.3s;
}

/* HOVER */

.tooltip:hover {
  background-color: #D1A9F0;
}

.project-desc__link:hover::after {
  opacity: 1;
}

.project-slide:hover .project-slide__img {
  filter: grayscale(0);
}

.project-swiper-button:hover {
  background-color: #D1A9F0;
  border-color: #D1A9F0;
}

/* ACTIVE */

.tooltip:active {
  background-color: #9D5CD0;
  color: #fff;
  border-color: #9D5CD0;
}

.project-desc__link:active {
  color: #7943A4;
}

.project-desc__link:active::after {
  opacity: 1;
  background-color: #7943A4;
}

.project-swiper-button:active {
  background-color: #D1A9F0;
  border-color: #9D5CD0;
}

/* FOCUS */

.tooltip:focus {
  background-color: #9D5CD0;
  color: #fff;
  border-color: #9D5CD0;
}

.project-desc__link:focus {
  color: #FFF;
  background-color: #9D5CD0;
}

.project-desc__link:focus-visible {
  outline: none;
}

.project-swiper-button:focus {
  border-color: #9D5CD0;;
}

.project-slide:focus {
  border-color: #9D5CD0;
  outline: none;
}
