.catalog {
  padding-top: 81px;
}

.catalog-top {
  display: flex;
}

.catalog-heading {
  margin-right: 30px;
  padding-top: 16px;
}

.catalog-tabs-list {
  margin-top: 1px;
  display: flex;
}

.catalog-tabs-item:not(:last-child) {
  margin-right: 30px;
}

.catalog-tabs-item-btn {
  padding-top: 6px;
  padding-right: 5px;
  padding-bottom: 4px;
  padding-left: 5px;
  width: 66px;
  height: 66px;
  transition: filter 0.3s, border 0.3s;
}

.catalog-tabs-item-btn__img {
  border-radius: 50%;
}

.catalog-tabs-item-btn--active {
  border: 2px solid #7943A4;
  border-radius: 50%;
}

.catalog-desc {
  margin-bottom: 39px;
  padding-top: 10px;
}

.catalog-desc__text {
  width: 69%;
  margin-top: 3px;
  margin-bottom: 0;
}

.tab-content {
  display: none;
}

.tab-content--active {
  display: flex;
}

.catalog-artist {
  display: flex;
}

.catalog-artist-left {
  margin-right: 50px;
  width: 47%;
}

.catalog-artist-desc {
  display: none
}

.catalog-artist-desc-img {
  margin-bottom: 30px;
}

.catalog-artist-desc__name {
  margin-bottom: 11px;
  font-weight: 600;
  font-size: 24px;
}

.catalog-artist-desc__date {
  margin-bottom: 9px;
  font-size: 12px;
  line-height: 1;
  color: #999;
}

.catalog-artist-desc__text {
  margin-bottom: 0;
  margin-top: 0;
}

.catalog-artist-right {
  width: 50%;
}

.catalog-accordion__heading {
  padding-top: 45px;
  padding-bottom: 45px;
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 24px;
  line-height: 1;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #CACACA;
  transition: all 0.3s;
}

.catalog-accordion__heading {
  margin-top: -1px;
}

.catalog-accordion__heading:first-child {
  border-top: 1px solid #CACACA;
}

.catalog-accordion__heading:first-child.ui-accordion-header-active {
  border-top: 1px solid #7943A4;
}

.catalog-accordion__heading::after {
  content: "";
  position: absolute;
  right: 0;
  top: 31px;
  width: 48px;
  height: 48px;
  background-image: url(../img/arrow-catalog.svg);
  background-position: center 15px;
  background-repeat: no-repeat;
  background-color: #ECECEC;
  border: 2px solid #ECECEC;
  border-radius: 50%;
  transition: all 0.3s;
}

.catalog-artist-list {
  padding-top: 26px;
  padding-bottom: 56px;
  columns: 3 196px;
  border-bottom: 1px solid #CACACA;
}

.catalog-artist-item__btn {
  display: inline-block;
  position: relative;
  text-align: left;
  transition: all 0.3s;
}

.catalog-artist-desc__link {
  font-weight: 600;
  color: #9D5CD0;
}

.artist-btn__active {
  color: #9D5CD0;
}

.catalog-artist-item__btn::after {
  content: '';
  display: none;
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #9D5CD0;
  transition: all 0.3s;
}

.catalog-accordion-desc-img {
  margin-right: 24px;
  padding: 12px;
  height: 179px;
  width: 285px;
  border: 2px solid #B7B7B7;
}

.catalog-accordion-desc-img__inside {
  background-color: #B7B7B7;
  width: 100%;
  height: 100%;
}

.catalog-accordion-desc {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  border-bottom: 1px solid #CACACA;
}

.catalog-accordion-desc-text {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  width: 275px;
}

.catalog-accordion-desc-text__heading {
  font-size: 24px;
}

.catalog-accordion-desc-text__text {
  line-height: 21.79px;
}

.catalog-accordion-desc-text__link {
  font-weight: 600;
  color: #9D5CD0;
}

.ui-accordion-header-active {
  color: #7943A4;
  border-color: #7943A4;
}

.ui-accordion-header-active::after {
  background-color: #D1A9F0;
  transform: rotate(180deg);
  border-color: #9D5CD0;
}

.artist-active {
  display: flex;
  flex-direction: column;
}


@media(max-width: 1580px) {
  .catalog {
    padding-top: 82px;
  }

  .catalog-tabs-list {
    padding-top: 8px;
  }

  .catalog-tabs-item {
    padding-bottom: 0;
  }

  .catalog-artist-left {
    width: 50%;
  }

  .catalog-accordion__heading {
    padding-top: 43px;
  }

  .tab-content {
    margin-bottom: 40px;
  }

  .tab-content__text {
    width: 100%;
  }

  .catalog-artist-list {
    padding-bottom: 28px;
  }

}

@media (max-width: 768px) {

  .catalog-top {
    margin-bottom: 9px;
  }

  .catalog-tabs-list {
    padding-top: 0;
  }

  .catalog-tabs-item:not(:last-child) {
    margin-right: 34px;
  }

  .catalog-artist {
    flex-direction: column;
  }

  .catalog-artist-left {
    order: 2;
  }

  .catalog-accordion__heading {
    padding-top: 44px;
  }

  .catalog-artist-right {
    order: 1;
    margin-bottom: 49px;
    width: 100%;
  }

  .tab-content {
    margin-bottom: 20px;
  }

  .catalog-artist-list {
    padding-bottom: 58px;
  }

  .catalog-artist-left {
    width: 100%;
    margin-right: 0;
  }
}

@media (max-width: 540px) {
  .catalog {
    padding-top: 36px;
  }

  .catalog-heading {
    margin-bottom: 15px;
  }

  .catalog-top {
    margin-bottom: 10px;
    flex-direction: column;
  }

  .catalog-tabs-item {
    padding: 0;
  }

  .catalog-tabs-item:not(:last-child) {
    margin-right: 32.5px;
  }

  .catalog-tabs-item__btn {
    width: 32px;
    height: 32px;
  }

  .tab-content {
    display: none;
  }

  .catalog-accordion__heading {
    padding-top: 27px;
    padding-bottom: 27px;
    font-size: 18px;
  }

  .catalog-accordion__heading::after {
    width: 28px;
    height: 28px;
    top: 20px;
    background-image: url(../img/arrow_m.svg);
    background-position: center 7px;
  }

  .catalog-accordion-desc-text__heading {
    font-size: 18px;
  }

  .catalog-artist-list {
    padding-top: 17px;
    padding-bottom: 20px;
    max-height: initial;
  }

  .catalog-artist-right {
    margin-bottom: 53px;
  }

  .catalog-artist-desc-img {
    margin-bottom: 11px;
  }

  .catalog-artist-desc__name {
    margin-bottom: 15px;
  }

  .catalog-artist-desc__text {
    padding-right: 3px;
  }
}

/* FOCUS */

.catalog-tabs-item__btn:focus {
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
}

.catalog-accordion__heading:focus span {
  background-color: #D1A9F0;
}

.catalog-accordion__heading:focus::after {
  background-color: #D1A9F0;
}

.catalog-artist-item__btn:focus {
  background-color: #7943A4;
  color: #fff;
}

/* HOVER */

.catalog-tabs-item__btn:hover {
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
  cursor: pointer;
}

.catalog-accordion__heading:hover {
  cursor: pointer;
  color: #9D5CD0;
  border-color: #9D5CD0;
}

.catalog-accordion__heading:hover::after {
  background-color: #D1A9F0;
}

.catalog-artist-item__btn:hover::after {
  display: inline-block;
}

.catalog-artist-item__btn:hover {
  color: #D1A9F0;
}

/* ACTIVE */

.catalog-tabs-item__btn:active {
  border: 2px solid #7943A4;
}
